@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgb(212, 212, 216);
  background-color: rgb(9, 9, 11);
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
}

.gradient-text{
  @apply text-transparent bg-clip-text from-cyan-600 via-indigo-600 to-pink-600
}

#logo{
  background: -webkit-linear-gradient(#0891b2, #db2777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-menu:hover {
  box-shadow: 0 0 6px 2px rgb(212,212,216,0.9), inset 0 0 6px 2px rgb(212,212,216,0.9);
  border-color: rgb(212,212,216);
}

.button-contact:hover{
  background: rgb(9, 9, 11);
  border: 2px solid;
}

.glowing-text:hover{
  text-shadow: 0 0 8px rgba(9,9,11, 1), 0 0 8px rgba(212, 212, 216, 1); 
}

.flip-animation:hover {
  animation: flip 0.8s ease;
}
@keyframes flip {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.circle-skills-icon {
  background: linear-gradient(125deg, rgba(8,145,178,1) 0%, rgba(79,70,229,1) 40%, rgba(219,39,119,1) 90%);
  color: rgb(212,212,216);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
}
